:host {
    display: block;
    background-color: #f0e5cc;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 10px;

    header {
        padding: 16px;
        background-color: #FAB015;

        .subtitle {
            font-family: "Cookie", cursive;
            font-size: 32px;
            font-weight: 400;
            font-style: normal;
            color: #ae1217;
        }
    }

    .content {
        padding: 16px;

        .tb-items {
            .qtd {
                text-align: center;
                padding-right: 5px;
            }
        }
    }
}