:host {
    display: block;
    background-color: #f0e5cc;
    margin-bottom: 10px;

    header {
        padding: 16px;
        background-color: #FAB015;
    }

    .content {
        padding: 16px;
    }
}