:host {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;

    main {
        background-color: #4B5051;

        .content {
            padding: 16px;
        }
    }
}